<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE-UE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <style>
        .done{
            color: gray;
            text-decoration: line-through;
        }
        li {
            cursor: pointer;
        }

    </style>
</head>
<body style="padding-top: 3em">

<div id="root" class="container">


<taske></taske>
    <div class="columns">
        <div class="column">
            <message title="Hello World." body="Hallo mein Freunnde ich bin eine Nachricht."></message>
            <message title="Hello DU." body="Hallo mein Freunnde ich bin eine Nachricht."></message>
        </div>
        <div class="column">
            <taske title="Müll raustragen" description="Bringe den Müll raus!" deadline="05.05.2020"></taske>
            <taske title="Müll raustragen" description="Bringe den Müll raus!" deadline="05.05.2020"></taske>
            <taske title="Müll raustragen" description="Bringe den Müll raus!" deadline="05.05.2020"></taske>
        </div>
        <div class="column">
            <message title="Hello World." body="Hallo mein Freunnde ich bin eine Nachricht."></message>
            <message title="Hello DU." body="Hallo mein Freunnde ich bin eine Nachricht."></message>
        </div>
        <div class=" is-1">
<button>+</button>
        </div>
    </div>


    <modal v-if="showModal" @close="showModal=false">
        <p>Hallo du!</p>
    </modal>

    <button @click="showModal=true" >Show Modal</button>




    <h1>
        Task-Manager mit VUE.js
    </h1>

    <task-list>Hallo</task-list>

    <h2>All tasks</h2>
    <ul>
        <li v-for="task in tasks"
            v-text="task.description"
            @click="toggleDone(task)"
            :class="{'done':task.completed}">
        </li>
    </ul>

    <h2>Incomplete</h2>
    <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"> </li>
    </ul>

    <h2>Complete</h2>
    <ul>
        <li v-for="task in completeTasks" v-text="task.description"> </li>
    </ul>


</div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
</html>