<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE-UE</title>
    <style>
        .done{
            color: gray;
            text-decoration: line-through;
        }
        li {
            cursor: pointer;
        }

    </style>
</head>
<body>

<div id="root">


    <h1>
        Task-Manager mit VUE.js
    </h1>

    <task-list>Hallo</task-list>

    <h2>All tasks</h2>
    <ul>
        <li v-for="task in tasks"
            v-text="task.description"
            @click="toggleDone(task)"
            :class="{'done':task.completed}">
        </li>
    </ul>

    <h2>Incomplete</h2>
    <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"> </li>
    </ul>

    <h2>Complete</h2>
    <ul>
        <li v-for="task in completeTasks" v-text="task.description"> </li>
    </ul>


</div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
</html>